.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.tenants {
    display: flex;
    flex-wrap: wrap;
}

.addTenantBlock {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}